[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
watchdog = {extras = ["watchmedo"], version = "*"}
argh = "*"

[packages]
flask = "*"
numpy = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
matplotlib = "*"
flask-pymongo = "*"
dnspython = "*"
isodate = "*"
flask-dance = "*"
boto3 = "*"
watchdog = {extras = ["watchmedo"], version = "*"}

[requires]
python_version = "3.9"

[scripts]
app = "python -m app"
dev = "watchmedo auto-restart --recursive -p '*.py;*.yaml' -i '.serverless' python -- -m app"
lint = "pylint app"
deploy = "npx serverless deploy"
serve = "npx serverless wsgi serve"
sls = "npx serverless"
