[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
watchdog = "*"
argh = "*"

[packages]
flask = "*"
numpy = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
matplotlib = "*"
flask-pymongo = "*"
dnspython = "*"
isodate = "*"

[requires]
python_version = "3.7"

[scripts]
app = "chamber exec veresk -- python -m app"
dev = "chamber exec veresk -- watchmedo auto-restart --recursive -p '*.py;*.yaml' python -- -m app"
lint = "chamber exec veresk -- pylint app"
deploy = "chamber exec veresk -- npx serverless deploy"
serve = "chamber exec veresk -- npx serverless wsgi serve"
