service: veresk

plugins:
  - serverless-python-requirements
  - serverless-wsgi
  - serverless-apigw-binary
  - serverless-domain-manager

custom:
  customDomain:
    domainName: ${env:CUSTOM_DOMAIN, 'veresk.ruslan.org'}
    createRoute53Record: true
    endpointType: edge
    enabled: ${env:CUSTOM_DOMAIN_ENABLED, 'true'}
  wsgi:
    app: app.app
    packRequirements: false
  pythonRequirements:
    dockerizePip: non-linux
  # Add binary images as handled in API gateway
  apigwBinary:
    types:
      - "image/*"
      - "application/font*"
      - "application/pdf"
      # This allows binary conversion without Accept: image/* in request
      - "*/*"

provider:
  name: aws
  runtime: python3.7
  timeout: 30
  stage: dev
  memorySize: 2048
  region: eu-west-1
  environment:
    MONGO_URI: ${env:MONGO_URI}
    FLASK_SECRET_KEY: ${env:FLASK_SECRET_KEY}
    PROD_GITHUB_OAUTH_CLIENT_ID: ${env:PROD_GITHUB_OAUTH_CLIENT_ID}
    PROD_GITHUB_OAUTH_CLIENT_SECRET: ${env:PROD_GITHUB_OAUTH_CLIENT_SECRET}

package:
  exclude:
    - "README.md"
    - ".editorconfig"
    - "LICENSE.md"
    - ".git/**"
    - ".github/**"
    - ".vscode/**"
    - ".gitignore"
    - "node_modules/**"
    - "test/**"
    - "app/static/preview.png"

functions:
  app:
    handler: wsgi_handler.handler
    events:
      - http: ANY /
      - http: "ANY {proxy+}"
