.fractal {
  width: 480px;
  display: inline-block;
  text-align: center;
  margin: 1em;
  font-size: 1.3em;
}

.fractal p {
  text-align: center;
}

.fractal img {
  /** keep in sync with plot.py */
  width: 480px;
  height: 320px;
  border: 1px solid #4caf50;
}

.fractal img.selection {
  cursor: crosshair;
}

.fractal .label {
  display: inline-block;
  width: 480px;
  margin-top: 1em;
  margin-bottom: 1em;
}

body.share .fractal img {
  width: 960px;
  height: 640px;
}

body.share .fractal,
body.share .fractal .label {
  width: 960px;
}

.fractal .controls {
  display: inline-block;
  width: 480px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.addFractalForm {
  display: none;
}

.editFractalForm {
  display: none;
}

form .title {
  display: block;
  font-size: 2em;
}

form input[type="text"] {
  display: block;
  padding: 1em;
  margin: 1em;
}

.mainControls a,
.controls a,
button,
input[type="submit"] {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 0.6em 0.7em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Show single fractal column for smaller devices */
@media screen and (max-width: 1024px) {
  /* https://docs.adobe.com/content/help/en/target/using/experiences/vec/mobile-viewports.html */
  .fractal,
  .fractal img,
  .fractal .label,
  .fractal .controls {
    width: 90%;
  }

  .fractal img {
    min-height: 120px;
    height: auto;
  }

  body.share .fractal img {
    width: 90%;
    min-height: 120px;
    height: auto;
  }

  body.share .fractal,
  body.share .fractal .label {
    width: 90%;
  }
}
