<html>

<head>
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
</head>

<body>
    <input type="button" onclick="sayHello()" value="Say Hello" />

    Existing users:
    <div>
        {% for user in users %}
        {{user.login}}
        {% endfor %}
    </div>

    <form onSubmit="saveUser(this, event);">
        Add new user <input type="text" name="userName" required="required" pattern="[A-Za-z0-9]{1,20}">
        <input type="submit" value="Save" />
    </form>
</body>

</html>